.Mui-focused {
    display: none;
}

.light-mode#searchYear::placeholder {
    color: rgb(0, 0, 0);
}
.light-mode#searchYear {
    color: rgb(0, 0, 0);
}
.dark-mode#searchYear::placeholder {
    color: rgb(255, 255, 255);
}

#searchYear {
    color: #fff;
    opacity: 1;
}

